* {
    background-color: yellowgreen;
}

@font-face {
    font-family: NOTO;
    src: url(NotoSansKR-VariableFont_wght.ttf);
}

main {
    width:100%;
    min-width:400px;
    height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
  }
  
  #svg-stage {
    width: 33%;
    max-width:500px;
    margin-bottom:8vh;
  }